.main {
    margin-top: 20px;
    position: relative;
    .view {
        padding: 0.5em 1em;
        margin: 0.5em;
        background: #f5f5f5;
    }
    
    .done {
        text-decoration: line-through;
    }
    
    .flex-even {
        width: 80%;
        margin-right: 10px;
      }
    
    .flex-label {
        width: 20%;
    }
    
    
    .search-text {
        width: 230px;
        position: relative;
    }

   
}
.search {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}

.category {
    text-align: center;
}

.update, .destroy {
    width: 50%;
    border: 1px dotted #ccc;
    margin-right: 10px;
}
.destroy {
    margin-right: initial;
}

.checked {
    width: 30% !important;
}